.card {
    background-color: #f0f0f0;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.botao {
    display: flex;
    justify-content: center;
}

.return {
    font-weight: bold;
    cursor: pointer;
}

.return:hover {
    color: #F6CF57;
}